@charset "utf-8";
/* CSS Document */
header a.equiv {display:none;}
nav {display:none;}
.wrap {padding:20px; width:100%;}
@media not screen and (min-width:1080px) 
{
	header ul {display:none;}	
	header a.equiv {display:block;}
}
@media not screen and (min-width:480px) 
{
	.container {width:95%;}	
	.wrap {padding:0;}
	header {padding:0 10px;}
}
@media not screen and (min-width:530px) 
{
	ul.tmp-widget li {width:90%;}	
}