@charset "utf-8";
form.main fieldset {
	padding:0 20px;
	border:solid thin #DDD;} 
form.main legend {
	padding:0 20px;}
form.main label {
	padding:0 0 0 10px;
	font-weight:bold;
	display:block;}
form.main input, 
form.main select, 
form.main textarea {
	padding:15px;
	margin:10px 0;
	width:100%;
	font-family:Verdana, Geneva, sans-serif;
	border:solid thin #DDD;
	border-bottom:solid #CCC;
	border-radius:10px;}
form.main select {
	padding:0;}	
form.main option {
	padding:15px;}		
form.main input:focus, 
form.main select:focus, 
form.main textarea:focus {
	background-color:lavender;}	
form.main input[type="checkbox"] {
  width:auto;
  margin:0 5px 0 10px;
  vertical-align:middle;}
form.main .button {
	margin:0 0 25px;
	text-align:right;}	
form.main input[type="reset"], 	
form.main input[type="submit"] {
	padding:10px 30px;
	margin:10px 5px;
	width:auto;
	font-size:18px;
	border-radius:5px;}
form.main input[type="reset"] {color:#333;}	
form.main input[type="submit"] {color:#FFF;}	


